header {
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    min-width: 488pt;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0.25rem;
}

#logo {
    display: inline-block;
}

#title {
    display: inline-block;
    font-size: 4rem;
}