.form-container {
    display: block;
    text-align: center;
}

.input-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.input-container label {
    width: 15%;
    min-width: 10%;
}

#submit-button {

}